<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">All Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">Add Campgrounds</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/campgrounds/categories?category=Types">Campground Types</a></li>
                        <li><a class="dropdown-item" href="/campgrounds/categories?category=Locations">Campground Locations</a></li>
                        <li><a class="dropdown-item" href="/campgrounds/categories?category=Amenities">Campground Amenities</a></li>
                        <li><a class="dropdown-item" href="/campgrounds/categories?category=Activities">Campground Activities</a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                        <a class="navbar-brand">Welcome, <%=currentUser.username%></a>
                        <form action="/logout" method="post" class="nav-link">
                            <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                        </form>
                        <% } %>
            </div>
        </div>
    </div>
</nav>