/* Categories Page Styles */

/* Each Campground Styles */
.view {
    border: none;
    min-width: 250px;
    border-radius: 20px;
    transition: all 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.view:hover {
    transform: scale(1.015);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.view img {
    border-radius: 20px;
}

@media (min-width: 450px) {
    .view {
        width: 45%;
    }
}

@media (min-width: 830px) {
    .view {
        width: 30%;
    }
}

/* Horizontal Scrollbar Styles */
.wrapper {
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper.view {
    min-width: 25%;
}