<% layout('/layouts/BoilerPlate') %>
    <h1>Create a new campground</h1>
    <p>
        <%= error %>
    </p>
    <p><span style="color: red;">* Mandatory Fields</span></p>
    <form action="/campgrounds" method="post">
        <label for="title">Enter Campground Title<span style="color: red;">*</span> : </label>
        <input type="text" name="campgroundFromForm[title]" id="title" placeholder="Enter Campground title"
            required><br><br>
        <label for="price">Enter Campground Price<span style="color: red;">*</span> : </label>
        <input type="text" name="campgroundFromForm[price]" id="price" placeholder="Enter campground price"
            required><br><br>
        <label for="location">Enter Campground Location<span style="color: red;">*</span> : </label>
        <input type="text" name="campgroundFromForm[location]" id="location" placeholder="Enter campground location"
            required><br><br>
        <label for="description">Enter Campground Description (Optional) : </label>
        <input type="text" name="campgroundFromForm[description]" id="description"
            placeholder="Enter campground description"><br><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
    <br>
    <button><a href="/campgrounds"><b>Go Back</b></a></button>