<% layout('/layouts/BoilerPlate') %>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card shadow">
                    <img src="https://res.cloudinary.com/dtwgxcqkr/image/upload/v1699785826/YelpCamp%20Related%20Media/kltuq43lucxyampswava.avif"
                        class="card-img-top" crossorigin />
                    <div class="card-body">
                        <h3 class="card-title">Login to Continue</h3>
                        <p class="mb-3 mt-4 mandatory">* Mandatory Fields</p>
                        <form action="/login" method="post" class="needs-validation" novalidate>
                            <div class="mt-3">
                                <label for="username" class="form-label">Enter Username<span class="mandatory">*</span>
                                    : </label>
                                <input type="text" class="form-control" name="username" id="username" autofocus
                                    placeholder="Enter Username" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid username.
                                </div>
                            </div>
                            <div class="mt-3">
                                <label for="password" class="form-label">Enter Password<span class="mandatory">*</span>
                                    : </label>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Enter Password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid password.
                                </div>
                            </div>
                            <div class="d-grid mt-3 gap-2">
                                <button type="submit" class="btn btn-success">Login</button>
                                <div class="d-grid mt-2">
                                    <label class="form-label">New User?</label>
                                    <a href="/register" class="btn btn-primary">Register a new account</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>