<% layout('/layouts/BoilerPlate') %>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card shadow">
                    <img src="https://res.cloudinary.com/dtwgxcqkr/image/upload/v1700924420/YelpCamp%20Related%20Media/fonmi0p2au8rxn8sslgj.jpg"
                        class="card-img-top" style="max-height: 50dvh;" crossorigin />
                    <div class="card-body">
                        <h3 class="card-title">Reset Password</h3>
                        <p class="my-3 mandatory">* Mandatory Fields</p>
                        <form action="/reset-password/<%=token%>?_method=PATCH" method="post" class="needs-validation" id="reset-password" novalidate>
                            <div class="mt-3">
                                <label class="form-label">Password Instructions:</label>
                                <div class="card-footer border-0">
                                    <p>
                                        <b>Password Example:</b> Abcd@123
                                    </p>
                                    <ul>
                                        <li>Must be at least 8 to 15 characters long.</li>
                                        <li>Should include a mix of uppercase and lowercase letters.</li>
                                        <li>Must include at least one digit (0-9).</li>
                                        <li>Must include at least one special character from @$!%*?&.</li>
                                        <li>Avoid using easily guessable information, such as your username or common words.</li>
                                    </ul>
                                    <p>
                                        <b>Note:</b> Ensure your password is strong and not easily guessable. Do not use the same password across multiple accounts.
                                    </p>
                                </div>
                            </div>
                            <div class="mt-3 password">
                                <label for="newPassword" class="form-label">Enter New Password<span class="mandatory">*</span> : </label>
                                <input type="password" class="form-control" name="newPassword" id="newPassword"
                                    placeholder="Enter new password" required>
                                <img src="https://res.cloudinary.com/dtwgxcqkr/image/upload/v1701142131/YelpCamp%20Related%20Media/zkvg4rxknhwuebgnmd6v.jpg"
                                    class="togglePassword">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Passwords don't match, try again.
                                </div>
                            </div>
                            <div class="mt-3 password">
                                <label for="confirmPassword" class="form-label">Confirm Password<span class="mandatory">*</span> : </label>
                                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                    placeholder="Confirm password" required>
                                <img src="https://res.cloudinary.com/dtwgxcqkr/image/upload/v1701142131/YelpCamp%20Related%20Media/zkvg4rxknhwuebgnmd6v.jpg"
                                    class="togglePassword">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Passwords don't match, try again.
                                </div>
                            </div>
                            <div class="d-grid my-3">
                                <button type="submit" class="btn btn-success">Update Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/JS/Hide-Show Password.js"></script>